<!DOCTYPE html>
<html lang="ko">
<!-- config -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", inital-scale="1">
    <title>emotion application</title>

    <!-- 공통 css -->
    <script>
    </script>

    <!-- 컨텐츠 페이지의 css -->

    <!-- 공통 js -->
    <script>
    </script>

    <!-- 컨텐츠 페이지의 js -->
</head>

<!-- header -->
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<nav>
    <div>
        헤더 영역
    </div>
</nav>
<div class="container">
    <div>
        <!-- content -->
        <div class="content">
            메인 테스트 입니다.
        </div>
    </div>
</div>

<!-- footer -->
<div class="container">
    <footer>
        <div>
            푸터 영역
        </div>
    </footer>
</div>

</body>
</html>